@charset "utf-8";
*{
    font-family: 'Noto Sans KR', sans-serif;
}
.nav_bar{
	list-style-type: none;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 100px;
    
   
}
.nav_bar li{
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    width: 150px;
    
    box-sizing: content-box;
    text-align: center;
    color: blueviolet;
	background-color :#8CBAC7;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #D9D1D0;
}

.header_div{
   
    border-bottom: 10px solid #EAF0EE;
}
.ab_body{
   
    border-bottom: 10px solid #EAF0EE;
}
.fix_margin{
	margin-left: 100px;
}
.body_bt{
    background-color :#8CBAC7;
    border: none;
    width: 150px;
    height: 150px;
    font-size: 26px;
    color: #EAF0EE;
    box-shadow: 10px 5px 5px #D9D1D0;
    margin-right: 10px;
    
}
.addr{
    width: 800px;
    height: 500px;
}
.footer_div{
    text-align: center;
}